*{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
}

main{
    background: url("imgs/bg-img.webp") center center/cover no-repeat;
    height: 100vh;

align-content: center;
   
}

h1{ 
    color: white;
text-align: center;
margin-bottom: 20px;
font-size: 2.5rem;
}


.container{
    border: 2px solid white;
    height: 50vh;
    width: 23vw;
    margin: auto;
   padding: 20px ;
   border-radius: 10px;
   position: relative;
    right: 83px;
    z-index: 2;
}

.container::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    border-radius: 10px;
}

.container form{
    color: white;
    display: flex;
    flex-direction: column;
}

button{
    padding: 10px;
    width: 10vw;
   align-self: center;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   font-weight: 700;
   background-color: rgb(240, 27, 27);
   margin-bottom: 20px;
}

button:hover{
    background-color:grey;
    color:whitesmoke;
}

input{
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
  border-radius: 20px;
  color: white;
  margin-bottom: 30px;
}

input:focus{
    outline: none;
}

label{
    margin-bottom: 10px;
    font-size: 1.1rem;
}

form a{
    color: grey;
}

form a:hover{
    color:blue;
}

.text-center{
    text-align: center;
}